In [2]:
import pandas as pd

In [3]:
data1 = {
    'emp_id': range(1, 21),
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack',
             'Kathy', 'Leo', 'Mona', 'Nate', 'Olivia', 'Paul', 'Queen', 'Rob', 'Sara', 'Tom'],
    'age': [25, 30, 28, 35, 22, 29, 31, 40, 27, 26,
            33, 32, 24, 37, 21, 34, 36, 38, 23, 39],
    'dept_id': [101, 102, 103, 101, 102, 104, 103, 101, 104, 102,
                105, 103, 104, 102, 101, 105, 103, 102, 105, 101]
}

df_personal = pd.DataFrame(data1)

In [4]:
data2 = {
    'dept_id': [101, 102, 103, 104, 105],
    'dept_name': ['HR', 'Finance', 'Engineering', 'Marketing', 'Operations'],
    'location': ['NY', 'LA', 'SF', 'TX', 'NJ']
}

df_department = pd.DataFrame(data2)

In [5]:
data3 = {
    'emp_id': range(1, 21),
    'rating': [3, 5, 4, 2, 3, 4, 5, 3, 4, 2, 5, 4, 3, 5, 2, 4, 4, 5, 3, 5],
    'last_bonus': [1000, 1500, 1200, 900, 1100, 1300, 1600, 950, 1400, 1050,
                   1550, 1250, 1150, 1500, 1000, 1350, 1450, 1600, 1100, 1500]
}

df_performance = pd.DataFrame(data3).set_index('emp_id')

In [6]:
# df_top = df_personal.iloc[:10]
# df_bottom = df_personal.iloc[10:]

df_concat = pd.concat([df_top, df_bottom], axis=0)

NameError: name 'df_top' is not defined

In [ ]:
df_personal.head() # merge

In [ ]:
df_department.head()

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df2.rename(columns = {'col1':'A'}, inplace = True)

In [ ]:
newdf = pd.concat([df1, df2], ignore_index = True)

In [ ]:
newdf

In [ ]:
# for concat if wehave the same name of column but having different values

In [ ]:
df = pd.read_csv('tested.csv')

In [ ]:
df.head(2)

In [ ]:
newdata = df.loc[0:50]

In [ ]:
newdata.head()

In [ ]:
newdata2 = df.loc[100:150]

In [ ]:
newdata2.head(2)

In [ ]:
N = pd.concat([newdata,newdata2], ignore_index = True)

In [ ]:
N.tail()

In [ ]:
N.shape

In [ ]:
N.loc[66:68]

In [ ]:
# merge

In [ ]:
import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2)
df1

In [ ]:
df

In [ ]:
pd.merge(df, df1, on='key')

In [ ]:
import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2)

In [ ]:
df

In [ ]:
df1

In [ ]:
res1 = pd.merge(df, df1, on=['key', 'key1'])

res1

In [ ]:
df1 = pd.read_csv('Movie data/tmdb_5000_credits.csv')

In [ ]:
df2 = pd.read_csv('Movie data/tmdb_5000_movies.csv')

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df1.info()

In [ ]:
df2.info()

In [ ]:
df1.rename(columns = {'movie_id':'id'},inplace = True)

In [ ]:
df1.head()

In [ ]:
newdata = pd.merge(df1,df2, on = ['id','title'])

In [ ]:
newdata.info()

In [ ]:
list = ['genres','homepage','keywords', 'original_title' ,'production_countries','status','production_companies','runtime','tagline' ,'spoken_languages','crew','overview']

In [ ]:
newdata.head()

In [ ]:
newdata.columns

In [ ]:
newdata.drop(list, axis = 1,inplace = True)

In [ ]:
newdata

In [ ]:
newdata.isnull().sum()

In [ ]:
newdata.fillna('1/3/2024', inplace = True)

In [ ]:
newdata.info()

In [ ]:
newdata.describe().plot()

In [ ]:
newdata['budget'].sort_values()

In [ ]:
newdata.loc[17]

In [ ]:
newdata['revenue'].sort_values()

In [ ]:
newdata.loc[0]

In [ ]:
newdata['release_date']

In [ ]:
newdata[newdata['release_date'] == '1/3/2024']

In [ ]:
newdata.drop(4553, axis = 0, inplace = True)

In [ ]:
newdata['release_date'] = pd.to_datetime(newdata['release_date'])

In [ ]:
newdata.info()

In [ ]:
newdata['original_language'].unique()

In [ ]:
newdata['original_language']

In [ ]:
newdata.groupby('original_language')['vote_average'].mean().plot(kind = 'kde')

In [ ]:
newdata.groupby('original_language')['vote_average'].mean()